* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #9681eb;
}

.main-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 50px;
  height: 100%;
  flex-direction: column;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.maind-cointainer input{
  margin-bottom: 100px;
}
.pagination{
  list-style: none;
  display: flex;
  gap: 5px
}

.pagination button{
  background: #45CFDD;
  padding: 8px 15px;
  border: 0;
  border-radius: 5px;
  color: white;  
}


.pagination button:hover{
  background: #6527BE;
}